<div class="row">
    <div class="small-12 columns">
        <h1>Conversation with <%= @user.name %></h1>
        <%= form_for(current_user.messages.create) do |f| %>
            <div class="row collapse">
                <div class="small-9 medium-11 columns">
                    <input id="message_content" name="message[content]" placeholder="enter your message for <%= @user.name %>" type="text" maxlength="140" required>
                    <%= f.hidden_field :recipient, value: @user.id %>
                </div>
                <div class="small-3 medium-1 columns">
                    <%= f.submit '⏎', class: 'button tiny round' %>
                </div>
            </div>
        <% end %>
        <% if @sortedmsgs %>
            <% @sortedmsgs.each do |msg| %>
                <p class="msg_<% if msg.user_id == current_user.id %>from_me<% else %>to_me<% end %>">
                    <% if msg.user_id == current_user.id and msg.viewed != true %>
                        <%= link_to 'Ⓧ', msg, method: :delete, class: 'delete' %>
                    <% end %>
                    <%= msg.content %>
                </p>
            <% end %>
        <% end %>
    </div>
</div>
